@import "tailwindcss";
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
     /* background:
            radial-gradient(
      ellipse at 50% -75%,
      
      rgba(79, 73, 192, 0.75) 20%,
      
      rgba(0, 24, 82, 0.95) 50%,
      #000000 80%
    ); */
    /* background:
  radial-gradient(
    ellipse 50% 80% at 50% -10%,
    rgba(79, 73, 192, 0.75) 20%,
    rgba(0, 24, 82, 0.95) 50%,
    #000000 80%
  ); */
  background:
  radial-gradient(
    /* ellipse 120% 65% at 50% -10%, */
    ellipse at 50% -75%,
    /* ellipse 110% 55% at 50% -8%, */

    rgba(79, 73, 192, 0.75) 20%,
    rgba(0, 24, 82, 0.95) 50%,
    #000000 80%
  );


}